/*
#f9c629 - saffron
#1F3A93 - dark cornflower blue
#316ff4 - bluetiful
#32e7c9 - torqouise 
#2ace82 - dark green (hide social nav) 
https://coolors.co/1f3a93-316ff4-f9c629-32e7c9-ffffff
 */

 body {
	background-image: url("/scoots/images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	background-color: none;
}

button:hover {
	cursor: pointer;
}


/* buttons */

button:hover {
	cursor: pointer;
}

.button {
	box-shadow: 5px 5px 10px #000;
	background: linear-gradient(0deg, rgba(50, 231, 200, 1) 0%, rgba(49, 110, 244, 1) 100%);
	color: #fff;
	width: 100%;
	border-radius: 10px;
	font-family: 'Permanent Marker', cursive;
	padding: 10px 0px 10px 0px;
}

.button:hover {
	color: #1F3A93;
	background: #f9c629;
	border: 1px solid #000;
}

.button2,
.button3 {
	background: linear-gradient(0deg, rgba(50, 231, 200, 1) 0%, rgba(49, 110, 244, 1) 100%);
	color: #fff;
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
	width: 60%;
	border-radius: 10px;
	font-family: 'Balsamiq Sans', cursive;
	padding: 10px 0 10px 0;
}

.button3 {
	font-size: 1em;
	margin: 20px;
	display: flex;
	justify-content: center;
	width: 80%;
	box-shadow: 10px 10px 30px #000;
}

.button3:hover {
	color: #1F3A93;
	background: #f9c629;
	border: 1px solid #000;
}

.button2:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transform: scale(.1);
	transform: scale(.1);
}

.button2:hover {
	color: #1F3A93;
	border: none;
	background: transparent;
}

.button2:hover:after {
	background: red;
	/* background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%); */
	-webkit-transform: scale(1);
	transform: scale(1);
}

header {
	text-align: left;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Balsamiq Sans', cursive;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 1em;
	font-style: italic;
	top: -15px;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 2% 0 2%;
	background-color: rgba(252, 252, 252, .75);
}

nav {
	grid-row: 4;
	grid-column: 1/3;
	margin-bottom: 20px;
	position: relative;
	top: -20px;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	text-align: center;
}

nav li {
	border: solid thin rgba(0, 0, 0, .55);
	margin-bottom: 2px;
	background: linear-gradient(0deg, rgba(50, 231, 200, 1) 0%, rgba(49, 110, 244, 1) 100%);
}

nav li a {
	padding: 10px 0 10px 0;
	display: block;
	text-decoration: none;
	color: #FBFBFB;
}

nav li a:hover,
.active {
	font-weight: bold;
	color: #062d5c;
	background-color: #f9c629;
}

nav ul {
	margin: 0;
	padding: 0;
}

#close {
	position: absolute;
}

#content {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgba(249, 198, 41, .55);
}

#ham {
	position: absolute;
	width: 100px;
}

#image_rotate {
	width: 100%;
	margin-top: 2.5em;
	box-shadow: -5px 5px 10px #f9c629;
	border-radius: 1em;
}

#logo {
	display: flex;
	justify-content: center;
	margin: auto;
	background: linear-gradient(0deg, rgba(50, 231, 200, .66) 0%, rgba(49, 110, 244, .66) 100%);
}

#menu_button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1.4rem;
	position: relative;
	height: 50px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.nav_hidden {
	display: none;
}

.fade_in {
	visibility: visible;
	opacity: 1;
	transition: opacity, .25s linear;
}

.fade_out {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .25s, opacity .25s linear;
}

h1#we_rent {
	color: #1F3A93;
	font-size: 4em;
	text-shadow: 10px 10px 5px #fff;
}


/* Home Page */

#cozumel_forecast,
#pdc_forecast {
	display: none;
	gap: 5px;
	grid-template-columns: 1fr 1fr;
}

#cozumel_forecast h3,
#pdc_forecast h3 {
	grid-column: 1 /3;
	text-shadow: 5px 5px 5px #fff;
	font-size: 2em;
}

#div_call_to_action {
	text-align: center;
	margin: 30px 0 15px 0;
}

#home_welcome {
	margin-top: 1em;
	background: linear-gradient(0deg, rgba(50, 231, 200, 1) 0%, rgba(49, 110, 244, 1) 100%);
	color: #fff;
	padding: 15px;
	border-radius: 1em;
}

#home_welcome>div {
	padding: 10px;
}

#locations {
	margin: 20px 0 20px 0;
	text-align: center;
	color: #1F3A93;
	font-size: 3em;
	/* text-shadow: 10px 10px 5px #fff; */
}

.maplink {
	font-size: 1.5em;
	padding-left: 5em;
}

.forecast {
	text-align: center;
}

.rental_image_div {
	width: 50%;
	float: left;
}

.rental_image {
	width: 100%;
}

.txt_div {
	color: #1F3A93;
	line-height: 2em;
	width: 50%;
	float: left;
	font-size: .9em;
	padding: 8px;
	box-sizing: border-box;
}

.view_forecast {
	text-align: center;
	margin-top: 15px;
}


/* Confirmation */

#main_confirmation h1 {
	font-size: 4em;
	text-shadow: 5px 5px 5px #fff;
	color: #1F3A93;
}


/* Rentals */

#main_rentals h2 {
	font-size: 3em;
	margin: 20px 20px 5px 20px;
	text-align: center;
}

#main_rentals li {
	line-height: 2em;
}

#rentals {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	line-height: 1.5em;
	margin: 0 20px 0;
}

#rentals h3 {
	font-size: 2em;
	text-shadow: 5px 5px 5px #fff;
	color: #1F3A93;
}


/* Contact */

#map {
	display: none;
}

#send_message_div {
	grid-column: 2/4;
	margin-bottom: 30px;
	font-size: 1em;
}

#main_contact h1 {
	grid-column: 1 / 4;
	font-size: 4em;
	text-shadow: 5px 5px 5px #fff;
	color: #1F3A93;
	margin: 20px
}


/* Reservations */

#btnChart {
	/* margin-left: 20%;
    margin-bottom: 25px; */
	margin: 20px;
}

#chart {
	font-size: 1em;
	line-height: 3em;
	margin: 20px;
	display: none;
}

#main_reservations label {
	display: inline-block;
	width: 120px;
}

#main_reservations h2 {
	margin: 10px 20px 10px;
}

#complete_reservation_div button {
	margin-bottom: 20px;
}

#agreement {
	margin: 20px;
}

#agreement h3 {
	font-size: 2em;
	text-shadow: 5px 5px 5px #fff;
	color: #1F3A93;
	margin: 20px
}

#agreement p {
	line-height: 1.5em;
	margin: 20px 200px 20px;
}

#agreement span {
	font-size: 3em;
}


/* Resources */

#main_resources {
	display: block;
	text-align: center;
}

#main_resources div img {
	width: 100%;
	max-width: 500px;
}


/* Tours */

#main_tours {
	grid-template-columns: 1fr;
}

#main_tours h1 {
	color: #1F3A93;
	font-size: 4em;
	text-shadow: 10px 10px 5px #fff;
	margin: 10px;
}

#main_tours h2 {
	text-align: center;
}

#main_tours picture img {
	width: 95%;
	margin: 0 10px 0;
	border-radius: 1em;
}

.tour_img1 {
	box-shadow: -5px 5px 10px #f9c629;
}

.tour_img2 {
	box-shadow: 5px 5px 10px #f9c629;
}

#tour_info,
.tour_text {
	line-height: 2em;
	margin: 0 20px 20px;
	text-align: center;
}

.input-control {
	width: 100%;
}

.form-group {
	margin: 5px 20px 5px;
}


/* Footer */

footer {
	background: linear-gradient(0deg, rgba(50, 231, 200, .55) 0%, rgba(49, 110, 244, .55) 100%);
	color: #fff;
	text-align: center;
	padding: 5px;
	max-width: 1200px;
	margin: 20px auto 0 auto;
}

footer a {
	color: #f9c629;
	font-weight: 800px;
}

footer img {
	transition: transform .2s;
	border-radius: 1em;
	border-color: red;
}

#social {
	clear: both;
	float: none;
}

#social img {
	margin: 20px;
	box-shadow: 5px 5px 10px #000;
}

footer img:hover {
	transform: scale(1.8);
	cursor: pointer;
}

#social a {
	color: #2ace82;
}

.resources p {
	line-height: 1.5em;
}

.contact h3 {
	font-size: 2.5em;
	text-shadow: 7px 7px 5px #000;
}

img.rental_image {
	transition: transform .2s;
}

img.rental_image:hover {
	transform: scale(1.8);
	cursor: pointer;
}