@media only screen and (min-width: 1024px) {
    body {
        max-width: 100%;
    }

    main {
        max-width: 1024px;
    }

    .logo-box {
        padding-left: 500px;
    }

    .logo-box img{
        float: left;
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: 100px;
        width: auto;
    }


    #navigation {
        grid-gap: 10px;
        padding-top: 0;

    }

    footer {
        color: white;

    }

    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;        
        background-color: #677db7;
        height: auto;
    }

    .map {
        width: 480px;
        padding: 10px 100px 10px 0;
    }
    
    .contact {
        padding: 10px;
        color: #0D0221;
    }
    .contact p {
        text-align: left;
    }


    header {
        padding-top: 5px;
    }


    footer section {
        clear: both;
        text-align: center;
    }

    .footer-bottom{
        padding: 10px 10px 10px 20px;
        display: grid;
        justify-content: left; 
        background-color: #1d3354;
    }
    
    .social {
        display: block;
        margin-top: 20px;
    }

    .social img {
        width: 62px;
        padding: 5px;
        margin-left: 15px;
    }

    .banner {
        position: relative;
    }

    .banner div {
        position: absolute;
        bottom: 30%;
        left: 2%;
        width: 300px;
        background-color: #E9FFF9;
        padding: 0 15px 15px 15px;
    }

    .banner p {
        padding: 0;
    }

    article p img {
        width: 270px;
        padding: 10px;
    }
}