h1 {
    margin: 0 0 48px;
    font-size: 48px;
}

h3 {
    margin: 0;
}

p {
    line-height: 24px;
    padding: 0 80px 0;
    text-align: justify;
    text-justify: inter-word;
}

abbr {
    font-weight: bold;
}

.intro p {
    line-height: 24px;
}

.summary a {
    text-transform: uppercase;
}

/*************************** Links on hover color ***************************/
a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    /* color: #54b3d6; */
    margin: 0 -4px;
    padding: 0 4px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 5px;
    font-weight: 600;
  }
a:hover {
    box-shadow: inset 0px 0px 0px 10px #54b3d6;
    color: white;
  }

