body{
    background-color: black;
  }

  h1 {
    margin: 0 0 3rem;
  }
  h3 {
    margin: 0;
  }
  
  p {
    line-height: 1.5rem;
    padding: 0 5rem 0;
    text-align: justify;
    text-justify: inter-word;
  }
  .intro p {
    line-height: 2rem;
  }

  @mixin pagewrap() {
    background-image: url(background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
    background-attachment: fixed;
    animation: backgroundColor 40s linear infinite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    padding: 0 15rem 0;
  }

    @mixin before() {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("rain.png");
        filter: opacity(0.3);
        animation: rainAnimation 0.5s linear infinite;        
    }

    @mixin zenIntro{
            color: black;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            max-width: 50rem;
            padding: 1.25rem 3.25rem 1.25rem;
          }

    @mixin sides() {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    padding: 3rem 8rem 1rem 3rem;
    max-width: 20rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85); 
    background: rgba( 245, 166, 35, 0.4 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 1.5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    @mixin wrapper {
            background-image: url(giphy.gif);
            background-position: center;
            background-repeat: no-repeat;
          }

        @mixin zSupport() {
            margin: 1rem 0 0;
            order: 2;
            flex: 0 1 auto;
            align-self: auto;
            padding: 1.25rem 1.25rem 0;
            
        }
        @mixin slidescontent {
            margin: 1rem 1.5rem 0 0;
            padding: .5rem 2rem .5rem;
            box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85); 
            background: rgba( 0, 255, 0, 0.4 );
            backdrop-filter: blur( 5px );
            -webkit-backdrop-filter: blur( 5px );
            border-radius: 1.5rem;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
    
        }
          
    
  .page-wrapper {
    @include pagewrap();
    &::before {
        @include before();
  }
}


  
/* RAIN AND COLOR ANIMATION */
/* https://www.freeiconspng.com/img/45873 */

  @keyframes rainAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 5% 20%;
    }
  }
  
  @keyframes backgroundColor {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(360deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }
  
  #zen-intro {
    @include zenIntro();
  }
  
  .sidebar {
    @include sides()
  }

  .wrapper {
    @include wrapper();
  }

  #zen-supporting {
    @include zSupport();
  }

  .explanation {
    @include slidescontent();
  }

  .participation {
    @include slidescontent();
    padding: 1.25rem 2rem 1.25rem;
  }

  .benefits {
    @include slidescontent();
  }

  .requirements {
    @include slidescontent();
    padding: 1.25rem 2rem .5rem;

  }

  footer {
    margin: 5rem 1.5rem 0 0;
    padding: 1.25rem 2rem 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    box-shadow: 13px 13px 20px -10px rgba(0, 0, 0, 0.85); 
    background: rgba( 0, 255, 0, 0.4 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 1.5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90em;
    height: 5em;
  }

  ul {
    list-style-type: none;
    line-height: 1.5rem;
  }

  
/* MOBILE VIEW */
@media screen and (max-width: 1080px) {
    .page-wrapper::before {
      background-image: none;
    }
    
    .page-wrapper {
      background-attachment: fixed;
    }
    * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
      animation: none !important;
     }
  
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    .page-wrapper {
      padding: 0 5rem 0;
      justify-content: center;
    }
  
    #zen-intro {
      max-width: 50rem;
      padding: 0.5rem;
    }
  
    p {
      padding: 0 2rem 0;
    }
  
    .sidebar {
      margin: 0;
      padding: 1rem;
    }
  
    #zen-supporting {
      padding: 0;
    }
  
    #zen-supporting > * {
      margin-top: 1em;
      position: relative !important;
      top: auto !important;
      left: auto !important;
    }
    #zen-supporting {
      height: auto !important;
      width: auto !important;
      position: relative !important;
      overflow: visible !important;
    }
  
    footer {
      margin: 1rem 0 ;
      padding: 1.25rem;
      width: auto;
      height: auto;
    }
  }
  
  @media screen and (max-width: 700px) {
    .page-wrapper {
      padding: 0 1rem 0;
    }
  }
  

    /* Slide Show      https://www.w3.org/Style/Examples/007/slideshow.en.html  (METHOD 2)*/
    #zen-supporting {
        height: 23.5em; /*slide show window size */
        width: 120em;
        position: relative;
        overflow: hidden;
      }
      
     #zen-supporting > * {
        position: absolute;
        top: 100%;
        left: 0;
        animation: 300s autoplay2 infinite linear; /* Slide time 5min*/
      }
      
      @keyframes autoplay2 {
        0% { 
          top: 100%;
        }
         10% { /*30s going up */
            top: 0%;
          } 
         25% { /*55s stop */
          top: 0%;
        }
         27% { /*5s go up up */
          top: -100%;
        }
        100% {   /* stop */
          top: -100%;
        }
      }
      /* EXPLAIN */
     #zen-supporting > *:nth-child(1) {
        animation-delay: 0s;
      }
      /* PARTICIPATION */
     #zen-supporting > *:nth-child(2) {
        animation-delay: 60s;
      }
      /* BENEFITS */
     #zen-supporting > *:nth-child(3) {
        animation-delay: 120s;
      }
      /* REQUIREMENTS */
      #zen-supporting > *:nth-child(4) {
        animation-delay: 160s; 
      }
      /* FOOTER */
      #zen-supporting > *:nth-child(5) {
        animation-delay: 240s;
      }
  
  